.container__about {
  display: flex;
}

.about-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.about-img__item {
  &:not(:first-child) {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
}

.about__img {
  display: block;
}

.about-text__wrapper {
  @media screen and (min-width: 768px) {
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 64px;
  }
}

.about-text {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}
